.principal {
    text-align: center;
    margin-top: 15px;
    background: black;
}

.principal div {
    display: inline-block;
    color: white;
    background:#101010;
    font-size: 90px;
    line-height: 90px;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.reloj {
    background-color:orange;
}
